.vscode/**
.vscode-test/**
.cursor/**
src/**
out/**
out-test/**
node_modules/**
.gitignore
.eslintrc.cjs
.prettierignore
prettier.config.cjs
tsconfig.json
tsconfig.test.json
esbuild.config.js
**/*.map
**/*.ts
*.vsix
!dist/**/*.js
